<!DOCTYPE html>
<html lang="en">
<head name="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <link rel="icon" type="image/x-icon" id="favicon_Font_Brand">
    <link href="~/IndexCSS/common.css" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/css/Indexcss")
    @System.Web.Optimization.Scripts.Render("~/scripts/Indexjs")
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link href="~/IndexCSS/common.css" rel="stylesheet" />
    
    <style type="text/css">
        .imgDiv {
            display: inline-block;
            position: relative;
            z-index: 0;
            margin-left: -19px;
        }

            .imgDiv img {
                display: block;
                border-radius: 5px;
                width: 998px;
            }

            .imgDiv + img {
                position: absolute;
                z-index: 0;
                top: 10%;
                left: 15%;
            }
        .fade {
            /*-webkit-filter: blur(1px);
            -moz-filter: blur(1px);
            -o-filter: blur(1px);
            -ms-filter: blur(1px);
            filter: blur(1px);*/
            opacity:0.5 !important;
        }

            .container  .modal.show#myAddressZipModal2{padding-left:0px !important}
    </style>
  
     <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i)
    {
      w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
   var f = d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
         'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window, document, 'script', 'dataLayer', '@System.Web.Configuration.WebConfigurationManager.AppSettings["GoogleTrackingCode"]');
   </script>
    <!-- End Google Tag Manager -->
</head>
<body class="Brand">
    <input type="hidden" id="hnProdUrl" value='@System.Web.Configuration.WebConfigurationManager.AppSettings["ProdURL"]'/>
    <input type="hidden" id="BrandCode" value='@System.Web.Configuration.WebConfigurationManager.AppSettings["BrandCode"]' />
    <input type="hidden" id="kwhc" value='@System.Web.Configuration.WebConfigurationManager.AppSettings["UL"]' />
    <input type="hidden" id="hdnNoProduct" value="@Html.Raw(TempData["GetZIP"])" />
    <input type="hidden" id="hdnHdrImagePath" value='@System.Web.Configuration.WebConfigurationManager.AppSettings["ImagePath"]' />
    <input type="hidden" id="IsPartner" />
    <input type="hidden" id="PartnerPhone" value='' />
    <input type="hidden" id="hdnlogolink" value='@System.Web.Configuration.WebConfigurationManager.AppSettings["LogoUrl"]' />
    <input type="hidden" id="hdnTDSPCode" />
    <input type="hidden" id="hdnTDSPName" />
    <input type="hidden" id="hdnTDSPZip" />
    <div class="Brand_index">
        <div class=" p_fixed">
            <div class="container">
                <div class="row">
                    <div class="logo">
                    </div>
                    <div class="call">
                        <h3 class="mb-0 mt_0 mt-4">Questions?</h3>
                        <h3 class="mt-0" id="ContactNo" x-ms-format-detection="none">
                            @*1-877-437-7442*@
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="loadingmessage" style="display: none">
        </div>
        <div class="container">
            <section class="cta_head_section ng-star-inserted pt-0">
                <div class="row" style="justify-content: left;" id="divAboveCards" runat="server">
                    <div>
                        <img style="width: 100%;" src="@Html.Raw(TempData["divAboveCards"])" />
                    </div>
                    <div id="PartnerOfferImages" class="banner" style="display: none;">
                        <div class="imgDiv">
                            <img id="imgBanner" src="" style="max-width:1140px; width:105%" />
                        </div>
                        @*<img id="imgClientLogo" src="" style="width: 10%; margin-top: 200px" />*@
                    </div>
                </div>

                <div class="container bannerinfo-left" id="PartnerBenifitsdiv">
                    <div id="PartnerBenifits"></div>
                    @*<div class="row">
                        <div class="col-xl-12 col-12 mt-2 mb-2">
                            <section class="cta_head_section ng-star-inserted pt-0 " style="color: black !Important">
                                <div id="PartnerBenifits"></div>
                            </section>
                        </div>
                    </div>*@
                </div>
              
                <div class="bannerinfo-center mt_data" id="divTabHeader">
                        <div class="row" style="justify-content: left;" id="divTabHeaderImage" runat="server">
                    <div>
                        <img style="width: 100%;" id="tabHeaderImage" src=""  />
                    </div>
                  
                </div>
                    <h1 id="signUpmsg"></h1>
                    <p id="chooseMsg"></p>
                </div>
            </section>
            @model List<WebEnrollmentNewDesign.Models.TabNames>
            <div>
                <br />
            </div>
            <div id="tabs">
                <ul class="landing nav nav-tabs" role="tablist" style="justify-content: center;">
                    @if (Model != null)
                    {

                        foreach (var p in Model)
                        {
                        @RenderTab(p);
                        }
                    }
                </ul>

                @helper RenderTab(WebEnrollmentNewDesign.Models.TabNames tab)
{
   
                    <li class="nav-item mbl_tab" id="tabV">

                        @*  <a href ="@tab.TabName" class="nav-link" id="TabsInfo" value="@tab.TabID"   data-toggle="tab" onclick="showTabs(@tab.TabID)">@tab.TabName</a>*@

                        <a href ="@tab.TabName" class="nav-link" id="TabsInfo" value="@tab.TabID"   data-toggle="tab" onclick="showTabs('@tab.TabName')">@tab.TabName</a>
                        <input type="hidden" id="hdnId" value="@tab.TabID" />
                    </li>
                }
            </div>
            <input type="hidden" id="hdnIdtabName" value="" />
            <div class="bg_color">
                <div class="container">
                    <div class="alert alert-success" id="success-alert">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        <strong>Success! </strong>
                        Now products are change according to your region
                    </div>
                    <div class="row pt-4 pb-4 plan" style="justify-content: center;">

                        <div class="set1">
                            <span class="location_update_action pt-2" style="cursor: text !important">
                                <div class="location_address_text text18 label-prod">Viewing plans for: </div>
                                <span class="location_address_text text18 zip_text">
                                    <span class="location_address_text text18" id="lbzipcode"></span></span><span class="location_update_action font16 zip " data-toggle='modal' onclick="changeURLforZip()" data-target='#myAddressZipModal2' data-backdrop='static' data-keyboard='false'><u>Change ZIP Code</u></span>
                            </span>
                        </div>
                        <div class="set2">
                            <span class="kwh_choice_container">
                                <span class="rates_text text18 label-prod">Viewing rates for:</span>
                                <div class="clear ">
                                    <input id="500kwh" name="kwh_choice" type="radio" value="500" type="radio" onclick="GetProductsAccordingRates(500)">
                                    <label class="ml_10" for="500kwh">500 kWh</label>
                                    <input id="1000kwh" name="kwh_choice" type="radio" value="1000" onclick="GetProductsAccordingRates(1000)">
                                    <label for="1000kwh">1000 kWh</label>
                                    <input id="2000kwh" name="kwh_choice" type="radio" value="2000" onclick="GetProductsAccordingRates(2000)" checked>
                                    <label for="2000kwh">2000 kWh</label>
                                </div>
                            </span>
                        </div>
                        <div class="set3">
                            <span id="clearPromo" onclick="clearPromoCode()"  style="width: 26px;float: right;height: 32px;background: #7c7575;margin-top: 3px;padding: 6px;border-radius: 0px 10px 10px 0px;color: #fff;cursor: pointer;display:none">X</span>
                            <span class="promo_code_entry button btn_pd hollow_black font16 btn_right" data-toggle="modal" data-target="#myModal" onclick="QueryPromoCode()" id="PCode" data-backdrop="static" data-keyboard="false" data-keyboard="false" style="border-radius: 10px 0px 0px 10px;">Enter Promo/Referral Code</span>

                        </div>
                    </div>
                    <div id="divInfo">
                    </div>
                </div>
            </div>


            <div class="row ftr">
                <div >
                    <section class="pricing_disclaimers">
                        <app-price-disclaimers _nghost-wql-c7=""><em _ngcontent-wql-c7="">
                      
					                                         </em>
				<em _ngcontent-wql-c7="">
                     <div id="tabFooter"></div>

                
				</em>
				</app-price-disclaimers>
                    </section>

                    <section>
                        <footer class="">
                            <div class="footer parbase base text-center">
                                <section class="footer content footer-links">
                                    <div class="copyright">
                                        <div class="container">
                                            <div class="row links_col">
                                                <div class="col-xl-12 text-center">
                                                    <ul class="social-icons">
                                                        <li>
                                                            <a href="" target="_blank" id="facebook"><i style="font-size: 30px;" class="fab fa-facebook-square"></i></a>&nbsp
												  <a href="" target="_blank" id="twitter"><i style="font-size: 30px;" class="fab fa-twitter-square"></i></a>&nbsp
                                                  <a href="" id="linkdin" target="_blank"><i style="font-size: 30px;" class="fab fa-linkedin"></i></a>
                                                        </li>
                                                    </ul>
                                                    <ul class="social-links">
                                                        <li><a target="_blank" href="" id="termsofUse">Terms of Use</a></li>
                                                        <li><a target="_blank" href="" id="privacy">Privacy Policy</a></li>


                                                        <li id="lNT" class="legalnotice"><a  target="_blank" href="" id="legalNotice">Legal Notice and Terms</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 text-center">
                                                    <div id="copyRight"></div>
                                                    <br>
                                                    <a href="" id="bbb" target="_blank">
                                                        <img alt="better business bureau logo" src="~/images/bbb.png" id="bbLogo" style="margin-top: 10px" title=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </footer>
                    </section>
                </div>
            </div>
            <!-- The Modal For Promocode-->
            <div class="modal" id="myModal" style="width: 100% !important">

                <div class="modal-dialog" style="top: 25%;">

                    <div class="modal-content">
                        <div style="float: right; color: red !important; top: 10%;" class="dot">
                            <button type="button" class="close pop_design_11" style="color: darkred; font-size: xx-large" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal Header -->

                        <div class="modal-header" style="border-bottom: 0px !important">
                            <h3 class="modal-title text-center" style="color: black!important; width:100%">Enter Promo/Referral Code</h3>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <input type="text" id="txtPromocode" maxlength="40" onkeyup="checkPromoValue()"  class="form-control" value="abc" autocomplete="off" />
                             <div id="lbPromoCodemsg" style="margin-left: 20px; color:red"></div>
                            <span class="orange_tool" data-toggle="tooltip" data-placement="right" style="z-index: 9999 !important;padding: 5px 5px;clear: both;display: inline-block;cursor: pointer;margin-top: 10px;" title="You can enter one of the following types of codes if you have it:

Promotion code - If you have discount code, please enter here.
Mail offer code - If you've received a discount code in the mail, please enter here.
Referral ID - If you have a referral ID from a referrer, please enter here.">What's this</span>
                        </div>
                       
                        <!-- Modal footer -->
                        <div class="modal-footer" style="border-top: 0px !important">
                            <a class="underline font22 blue" id="btnPromoReferalCode" onclick="clearPromoCode();" href="#" data-dismiss="modal">Remove Promo/Referral Code</a>
                            <button type="button" id="btnPromoCode" class="button solid_orange plan_order_button" onclick="checkPromocode()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--The Modal For Address-->
            <div class="modal" id="myAddressModal" style="width: 100% !important" data-backdrop="static">

                <div class="modal-dialog" style="top: 30%;">

                    <div class="modal-content">
                        <div id="loadingmessage2" style="display: none"></div>
                        <div style="float: right; color: red !important; top: 10%">
                            <button type="button" class="close pop_design_11" style="color: red; font-size: xx-large" data-dismiss="modal" onclick="addressPopUpReset()">&times;</button>
                        </div>
                        <!-- Modal Header -->

                        <div class="modal-header" style="border-bottom: 0px !important">

                            <h3 class="modal-title text-center" style="color: black!important; width: 100%; text-align: center;">Enter Your Full Address</h3>

                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <b>Zip Code</b>

                            <input type="text" id="txtZipCode2" value='@Html.Raw(@TempData.Peek("ZipCode"))'   class="form-control"  size="5" maxlength="5" onblur="ValidateZipCode()"
                                                                                    @*onkeyup="movetoNext(this)"*@ class="round-field" clientidmode="Static"
                                                                                    onkeypress="return isNumber(event)" onkeyup="showButton2()" />
                            <br />
                         Address
             <div class="autocomplete">

                 <input type="text" id="txtAddress" maxlength="80" class="form-control" style="width: 100%" autocomplete="stopdoingthat" />
                 <div id="loadingAddress" class="loadingmessage2" style="display: none">
                 </div>
                 @*  <input type="hidden" id="hdnServiceAddress" />*@
                 <div id="serAddMsg" style="margin-top: 20px"></div> </div>
                    
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer" style="border-top: 0px !important">

                            @*<button type="button" id="btAddress" class="button solid_orange plan_order_button" data-dismiss="modal"  onclick="window.location.href='<%= Url.Action("Index", "Home") %>';" disabled>Submit</button>*@
                            <input type="button" value="Submit" id="btAddress" class="button solid_orange plan_order_button" style="display: none" onclick="load_AllSelectedInformation(txtAddress.value)" />

                            <a href="" class="button solid_orange plan_order_button" id="btContinue" target="_blank" style="display: none; text-decoration: none;">Continue</a>
                        </div>

                    </div>
                </div>
            </div>
            <!---------------End--------------------------!-->

            <!--The Modal For Change Address or zipcode-->
            <div class="modal" id="myAddressZipModal2" style="width: 100% !important;" data-backdrop="static" data-keyboard="false">

                <div class="modal-dialog" style="top: 25%;">

                    <div class="modal-content">
                        <div style="float: right; color: red !important; top: 10%">
                            <button type="button" id="closeBt" class="close pop_design_11" style="color: red; font-size: xx-large" data-dismiss="modal" onclick="addressPopUpReset()">&times;</button>
                        </div>
                        <!-- Modal Header -->

                        <div class="modal-header" style="border-bottom: 0px !important">

                            <h3 class="modal-title text-center" style="color: black!important; width: 100%; text-align: center;">Enter Your Zip Code or Full Address</h3>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Zip Code 

                            <input type="text" id="txtZipCode3" value='@Html.Raw(@TempData.Peek("ZipCode"))' class="form-control"  size="5" maxlength="5" onblur="ValidateZipCode2()"
                                                                                   class="round-field" clientidmode="Static"
                                                                                    onkeypress="return isNumber(event)" onkeyup="showButton()" />
                       <br />
                            Address(Optional)
             <div class="autocomplete2">

                 <input type="text" id="txtAddress2" maxlength="80" class="form-control" style="width: 100%" autocomplete="stopdoingthat" />

                 <div id="loadingAddress2" class="loadingmessage2" style="display: none">
                 </div>
                 <div id="serAddMsg2" style="margin-top: 20px"></div>

             </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer" style="border-top: 0px !important">

                            @*<button type="button" id="btAddress" class="button solid_orange plan_order_button" data-dismiss="modal"  onclick="window.location.href='<%= Url.Action("Index", "Home") %>';" disabled>Submit</button>*@
                            
                            @*<input type="button" value="Submit" id="btAddress2" class="button solid_orange plan_order_button" onclick="checkDifferTDSP(txtAddress2.value, txtZipCode3.value)" />*@
                               <input type="button" value="Submit" id="btAddress2" class="button solid_orange plan_order_button" onclick="SetAddressZip(txtAddress2.value, txtZipCode3.value,'')" />
                            <a href="" class="button solid_orange plan_order_button" id="btContinue2" target="_blank" style="display: none; text-decoration: none;">Continue</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <!---------------End--------------------------!-->

        <!--The Modal For Product Details-->

        <div class="modal scroll" id="ProductDetails" style="width: 100% !important">
            <div class="modal-dialog pop_design" style="top: 15%;">
                <div class="modal-content" style="border-radius: 0px; border: 0px;">
                    <div style="float: right; color: red !important; top: 18%">
                        <button type="button" class="close pop_design_1" data-dismiss="modal">&times;</button>

                    </div>
                    <!-- Modal Header -->
                    <div class="modal-body">
                        <div id="ProductDetailInfo"></div>
                        <!-- Modal body -->
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer" style="border-top: 0px !important">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---------------End--------------------------!-->
     <!--The Modal For TDSP selection-->

        <div class="modal" id="tdspselection" style="width: 20% !important;top:0%;left:0%; border-radius:5px;  width: 100% !important; height: 100vh !important;    background: rgba(0, 0, 0, 0.21);">
            <div class="modal-dialog">
                <div class="modal-content" style="border-radius: 5px; border: 0px; border: 0px; width: 220px; height: 200px; top: 35%; left:40%; position: fixed;   margin: 0px auto;">
                  
                    <!-- Modal Header -->
                    <div class="modal-body">
                        <b>TDSP</b>
                        <div id="tdspInfo">

                          @*  <input type="radio" id="tdTDSP" name="tdsp" onchange="setTDSPCode()" />*@
                        </div>
                        <!-- Modal body -->
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer" style="border-top: 0px !important">
                    </div>
                </div>
            </div>
        </div>

            <!-- The Modal For Differnet TDSP-->
            <div class="modal" id="myDifferntTDSPMsg" style="width: 100% !important; z-index:9999;margin-top:-160px">

                <div class="modal-dialog" style="top: 25%;">

                    <div class="modal-content"  style="margin-left: -9px;">
                        @*<div style="float: right; color: red !important; top: 10%;" class="dot">
                            <button type="button" class="close pop_design_11" style="color: darkred; font-size: xx-large" data-dismiss="modal">&times;</button>
                        </div>*@
                        <!-- Modal Header -->

                        <div class="modal-header" style="border-bottom: 0px !important">
                            <h3 class="modal-title text-center" style="color: black!important; width:100%">Attention</h3>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body" style="min-height:90px;margin-top:0px;">
                            <div id="zippMsg" style="display:none">
                          @*Viewed offers are not valid for this zipcode or service address.  Would you like to view new offers for this zipcode or service address?*@
                                Would you like to view new offers for this zipcode or service address?
                       </div>
                            <div id="ordernowMsg" style="display:none">
                        Your offer selected is not valid for this service address. Would you like to select new offer?

                                <br /><br />
                                   
                       </div>
                        <!-- Modal footer --> 
                        <div class="modal-footer" style="border-top: 0px !important">
                           <div id="changethezip" style="display:none ;  text-align: center;   width: 100%;">
                             <button type="button" id="btnNewTDSPYes" style="border-radius:0px" onclick="changeQstring(txtZipCode3.value)">Yes</button>
                            <button type="button" id="btnNewTDSPNo" style="border-radius:0px"  data-target="#myDifferntTDSPMsg" data-toggle="modal" data-backdrop="static" data-keyboard="false" onclick="disablebutton1()">No</button>
                               </div> 
                            <div id="ordernow"  style="display:none ;  text-align: center;   width: 100%;">
                                <button type="button" id="btnNewTDSPYes2"  style="border-radius:0px"  onclick="changeQstring(txtZipCode2.value)">Yes</button>
                            <button type="button" id="btnNewTDSPNo2"   style="border-radius:0px"  data-target="#myDifferntTDSPMsg" data-toggle="modal" data-backdrop="static" data-keyboard="false" onclick="disablebutton2()">No</button>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>

    </div>
    <!---------------End--------------------------!-->

</body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id='@System.Web.Configuration.WebConfigurationManager.AppSettings["GoogleTrackingCode"]'"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  
</html>
<script type="text/javascript">
    
    $(function () {
        @* var Ispartnerpage = '@TempData.Peek("IsPartner")';
        if (Ispartnerpage != "") {
            $("#IsPartner").val("y");
            
        }*@
        showTabsFirstLoad();
        fillData();
        LoadBrandData();
        Loadbrandlinks();
        
        var Produrl = $("#hnProdUrl").val();
        var pBenifits = "";
        var PartnerOfferImage1 = '@TempData.Peek("PartnerOfferImage1")';
        var PartnerOfferImage2 = '@TempData.Peek("PartnerOfferImage2")';
        var TabHeaderImage = '@TempData.Peek("TabImage")';
       
      
        if (sessionStorage.getItem("PartnerBenifits") != null) {
            pBenifits = sessionStorage.getItem("PartnerBenifits");
        }
        if (TabHeaderImage != '') {
            //var imgSRC = $("#hdnHdrImagePath").val() + TabHeaderImage;
            var imgSRC = '@System.Configuration.ConfigurationManager.AppSettings["ImagePath"]' + PartnerOfferImage1;
            imageExists(imgSRC, function (exists) {
                //Show the result
                if (exists == false) {
                    $("#tabHeaderImage").hide();
                }
                else {
                    document.getElementById("tabHeaderImage").src = imgSRC;
                }
            
            });
         

        }
        function imageExists(url, callback) {
            var img = new Image();
            img.onload = function () { callback(true); };
            img.onerror = function () { callback(false); };
            img.src = url;
        }
        
        //To check if image is not available
        //Start
        //var headerimgWidth = yourImg.width;
        //if (headerimgWidth == 0) {
        //    $('#tabHeaderImage').hide();
        //}
        //End
        if ('@TempData.Peek("kWh")' != '')
        {
            
            $("#kwhc").val('@TempData.Peek("kWh")');
            var kwhv = '@TempData.Peek("kWh")';
            if (kwhv == "500") {
                $("#500kwh").prop("checked", true);
            }
            else if (kwhv == "1000") {
                $("#1000kwh").prop("checked", true);
            }
            else if (kwhv == "2000") {
                $("#2000kwh").prop("checked", true);
            }
        }
       
        if (PartnerOfferImage1 !== null && PartnerOfferImage1 !== '') {
          
            $("#tabHeaderImage").hide();
            $("#PartnerPhone").val('@TempData.Peek("PartnerContactNo")');
            sessionStorage.setItem("PartnerPhone", $("#PartnerPhone").val());
            $("#ContactNo").text('@TempData.Peek("PartnerContactNo")');
            $("#divTabHeader").hide();
            $("#signUpmsg").hide();
            $("#chooseMsg").hide();
              var imgSRC='@System.Configuration.ConfigurationManager.AppSettings["ImagePath"]' + PartnerOfferImage1;
           // alert($("#hdnHdrImagePath").val());
            //var imgSRC = $("#hdnHdrImagePath").val() + PartnerOfferImage1;
            imageExists(imgSRC, function (exists) {
                //Show the result
                if (exists == false) {
                    $("#imgBanner").hide();
                }
                else {
                    document.getElementById("imgBanner").src = imgSRC;
                }

            });
            
            
            
            $.ajax({
                type: 'GET',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                url: Produrl + '/Home/GetPartnerBenifits',
                success: function (response) {
                    if (response) {
                        $("#PartnerBenifitsdiv").show();
                        $("#PartnerBenifits").empty();
                        $("#PartnerBenifits").append(response);
                        $("#PartnerOfferImages").show();
                    }
                },
            });
        }
        else {
            $("#PartnerBenifits").empty();
            $("#imgBanner").hide();
            sessionStorage.setItem("PartnerPhone", '');
            
        }
        var pContactNo = '@TempData.Peek("PartnerContactNo")';
        if (pContactNo != '') {
            $("#ContactNo").text('@TempData.Peek("PartnerContactNo")');
            sessionStorage.setItem("PartnerPhone", pContactNo);
        }
        
       @* var ZipCodeVal = '@TempData.Peek("ZipCode")';
        var TDSPVal = '@TempData.Peek("TDSPCODE")';
        var TDSPName = '@TempData.Peek("TDSPName")';*@
        
        var ZipCodeVal = $("#hdnTDSPZip").val();
        var TDSPVal = $("#hdnTDSPCode").val();
        var TDSPName = $("#hdnTDSPName").val();
       // $("#lbzipcode").val(TDSPName);
        if (TDSPVal !== null && TDSPVal !== '') {
          //  $("#lbzipcode").text(TDSPName);
        }
        var Ref_Id = '@TempData["Ref_ID"]';
        if (Ref_Id !== null && Ref_Id !== '') {
            $("#divAboveCards").show();
            $("#landingpageInfo").hide();
           // $("#lbzipcode").text(TDSPVal);
        }
        else {
            $("#divAboveCards").hide();
            $("#landingpageInfo").hide();
        }
        $("#success-alert").hide();
        // var Pcode = '@TempData["Pcode"]';
        if ('@Session["Prodcode"]' != null) {
            var Pcode = '@Session["Prodcode"].ToString()';
            if (Pcode !== null && Pcode !== '') {
                $("#tabs").hide();
            }
        }
        @* if ('@TempData.Peek("GetZIP")' != '') {
            $(document).ready(function () {
                $('#myAddressZipModal2').modal('show');
                $('#closeBt').hide();
                if ($('#txtZipCode3').val() == '') {
                    $('#btAddress2').hide();
                }
                else {
                    $('#btAddress2').show();
                }
            });
        }*@
       
      
       
    });


</script>

  @{
        
        TempData.Keep("TDSPCODE");
        TempData.Keep("TDSPName");
         @*TempData.Keep("IsPartner");
        TempData.Keep("PartnerOfferImage1");
        TempData.Keep("PartnerOfferImage2");
        TempData.Keep("TabImage");
        TempData.Keep("kWh");
        TempData.Keep("PartnerContactNo"); *@
        
    }
