
@using Kendo.Mvc.UI
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OEFPay</title>
    

  
   
     @System.Web.Optimization.Styles.Render("~/Style/MyAccountCSS") 
     @System.Web.Optimization.Scripts.Render("~/scripts/MyAccountJS") 
</head>

<body>
    <input type="hidden" id="hdnMinPaymentAmount" value='@System.Web.Configuration.WebConfigurationManager.AppSettings["MinPaymentAmount"]'/>
    <input type="hidden" id="hdnMinPrePaymentAmount" value='@System.Web.Configuration.WebConfigurationManager.AppSettings["MinPrepayPaymentAmount"]'/>
    <input type="hidden" id="hdncreditcardtype" name="hdncreditcardtype">
    <input type="hidden" id="hdncreditcardtypeAutopay" name="hdncreditcardtypeAutopay">
    <div class="f-tab">
        <div id="dvdashboard-body">
            @(Html.Kendo().TabStrip()
        .Name("tabstrip_Payment")
        .Items(tabstrip =>
        {
            tabstrip.Add().Text("Credit Card")
                .HtmlAttributes(new { ID = "CreditCard_tab" })
                .Selected(true)
                .Content(@<text>
            <div class="f-content credit-card-main-sec" style="height:auto;">
                <div class="">
                    <div class="payment-form" style="background: #f4f4f4; border-radius: 6px;">
                        <div class="black-strip">
                            <p style="line-height: inherit; font-size: 13px !important;">Use the form below to make one-time payment with Credit Card</p>
                        </div>
                        <div id="divPayusingSCC" style="float: left; width: 91%; margin: 10px 10px 10px 15px;">
                            <input type="checkbox" id="chkPayusingSCC" name="PayUsingStoredCC" />
                            <label style="padding-left: 5px; font-size: 13px;">One-time payment using auto pay profile:</label>
                            <label id="lblCCNumber" style="padding-left: 5px; font-size: 13px; color: #f47920;"></label>
                        </div>
                        <div class="payment-form-wrapper creditcard" id="divPaybyCC">
                            <div class="form-element-5">
                                <label class="fl">Name on Card :</label>
                                <input id="txtNameOntheCard" type="text" class="k-textbox f-textbox fl" autocomplete="off">
                                <div class="clear"></div>
                            </div>
                            <div class="form-element-5">
                                <label class="fl">Card Number :</label>
                                <input id="txtCardNumber" type="text" onkeypress="return FilterInput(event)" class="k-textbox f-textbox fl" maxlength="16" autocomplete="off">
                                <div class="clear"></div>
                            </div>
                            <div class="form-element-5">
                                <div class="sec-1">
                                    <label class="fl">Exp Month :</label>
                                    <input id="expmonth" type="text" class="f-dropdown">
                                    <div class="clear"></div>
                                </div>
                                <div class="sec-2">
                                    <label class="fl label-year">Year :</label>
                                    <input id="expyear" type="text" class="f-dropdown">
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="form-element-5">
                                <div class="sec-1">
                                    <label class="fl">Billing Zip :</label>
                                    <input id="txtBillingZip" type="text" onkeypress="return FilterInput(event)" class="k-textbox f-textbox fl" maxlength="5" autocomplete="off">
                                    <div class="clear"></div>
                                </div>

                                <div class="sec-2">
                                    <label class="fl label-cvc">CVC Code :</label>
                                    <input id="txtCVCCode" type="password" onkeypress="return FilterInput(event)" class="k-textbox f-textbox fl" maxlength="4" autocomplete="off">
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div id="divpaybycchid" style="height: 180px; display: none;"></div>
                    </div>
                    <div class="payment-form-left" id="divCCMain" style="height: 195px; position: relative;">
                        <div class="amount-section" id="divCCsub" style="padding-top: 62px;">
                            <div style="display: block; float: left; width: 100%;">
                                <label style="display: block; float: left; margin-top: 8px; margin-right: 6px;">Amount ($) :</label>
                                <div style="margin-top: 0px; display: block; float: left; width: 70px !important;">
                                    <input id="txtAmount" style="height: 32px !important; font-size: 17px; padding-left: 1px;" type="text" onkeypress="return FilterInput(event)" pattern="\d*" class="k-textbox f-textbox" />
                                </div>
                            </div>
                            <div class="amount-section" style="padding-top: 5px; display: block; float: left;" id="divCCAutopaySection">
                                <label class="autopay-label orange-text" id="lblautopay" style="margin-right: 18px;">Auto Pay :</label>
                                <input type="checkbox" id="chkAutopayOff" value="Autopay" name="Autopay" /><label></label>
                            </div>
                            <div style="bottom: 0; position: absolute; display: block; float: left;">
                                <button type="button" id="btnCreditcardPaynow" class="k-button paynow-btn" onclick="return CreditcardPaynow();" style="width: 150px; line-height: 1.2; display: block; float: left; font-size: 14px; text-align: left; padding: 0px 0px 0px 56px !important;"><span>Pay Now</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="form-element-5" id="divSendConfirmationType" style="float: left; width: 91%; margin: 10px 10px 10px 11px; color: #656565 !Important;">
                        <div class="sec-1" style="display: block; float: left; width: 100% !important;">
                            <label class="f1" style="margin-right: 18px;">Send Confirmation By :</label>
                            <input type="checkbox" id="chkEmail" value="Email" name="Confirmationtype" /><label style="color: #515967; margin-right: 5px; margin-left: 5px;">EMail</label>
                            <input type="checkbox" id="chkSMS" value="SMS" name="Confirmationtype" /><label style="color: #515967; margin-right: 5px; margin-left: 5px;">SMS</label>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="divmainmessagebox">
                        <div class="mesage-text" style="line-height: 32px; padding-left: 0px; width: 100%">
                            <div id="divCreditcardPaymentIcon"style="display: none;" class="message-icon-payment">
                            </div>
                            <div id="divCreditcardAuthmessage" style="display: none; padding-top: 8px;" class="divmessagebox">
                                <label id="lblCreditcardAuthMessage" style="line-height: 1.3; display: block; font-weight: bold;"></label>
                                <span class="green-text">
                                    <label id="lblProfileStatus" style="line-height: 1.3; display: block; font-weight: bold;"></label>
                                </span>
                            </div>
                        </div>                       
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            </text>);
            //Bank Draft  
            string isACHEnabled = System.Web.Configuration.WebConfigurationManager.AppSettings["IsACHEnabled"];
            //  string estContractDate=@Model.Es
            if (isACHEnabled == "1")
            {
                //-------------------------------------------
                tabstrip.Add().Text("Bank Draft")
                .HtmlAttributes(new { ID = "BankDraft_tab" })
                .Content(@<text>

            <div class="f-content bankdraft-main-sec" id="divbasec">
                <div class="payment-content">
                    <div class="payment-form" style="background: #f4f4f4; border-radius: 6px; height: 244px !important;">
                        <div class="black-strip">
                            <p style="line-height: inherit; font-size: 13px !important;">Use the form below to make one-time payment with Bank Account</p>
                        </div>
                        <div id="divPayusingSBA" style="display: none; float: left; width: 91%; margin: 10px 10px 10px 15px;">
                            <input type="checkbox" id="chkPayusingSBA" name="PayUsingStoredBA" />
                            <label style="padding-left: 5px; font-size: 13px;">One-time payment using auto pay profile:</label>
                            <label id="lblBANumber" style="padding-left: 5px; font-size: 13px; color: #f47920;"></label>
                        </div>
                        <div class="payment-form-wrapper bankdraft" style="padding: 0px 10px 10px 14px;" id="divPaybyBA">
                            <div class="form-element-5">
                                <div class="sec-1 accounttype_ba">
                                    <label class="fl" style="width: 127px; display: block; float: left;">Type of Account :</label>
                                    <div class="container" style="width: 67%; display: block; float: left; height: 26px !important;">
                                        <label class="radio-inline" style="margin-right: 20px;">
                                            <input type="radio" name="optatradio" value="C" checked style="margin-right: 5px;">Checking
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optatradio" value="S" style="margin-right: 5px;">Savings
                                        </label>                                       
                                    </div>
                                    <div id="divAccountType"></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="sec-2">
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="form-element-5">
                                <label class="fl" style="width: 127px;">Name on Account :</label>
                                <input id="txtAccountName" style="width: 270px;" type="text" class="k-textbox f-textbox fl" autocomplete="off">
                                <div class="clear"></div>
                            </div>
                            <div class="form-element-5">
                                <label class="fl" style="width: 127px;">Routing No :</label>
                                <input id="txtRoutingNo" style="width: 270px;" type="text" onkeypress="return FilterInput(event)" class="k-textbox f-textbox fl" maxlength="10" autocomplete="off">
                                <div class="clear"></div>
                            </div>
                            <div class="form-element-5">
                                <label class="fl" style="width: 127px;">Bank A/c No :</label>
                                <input id="txtAccountNo" style="width: 270px;" type="password" onkeypress="return FilterInput(event)" class="k-textbox f-textbox fl" maxlength="16" autocomplete="off">
                                <div class="clear"></div>
                            </div>

                            <div class="form-element-5">
                                <label class="fl" style="width: 127px;">Confirm Bank A/c No:</label>
                                <input id="txtConfirmAccountNo" style="width: 270px;" type="password" onkeypress="return FilterInput(event)" class="k-textbox f-textbox fl" maxlength="16" autocomplete="off" style="height: 33px !important; width: 270px;">
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div id="divpaybybahid" style="display: none; height: 213px;"></div>
                    </div>

                    <div class="payment-form-left" style="height: 229px; position: relative;" id="divBAMain">
                        <div class="amount-section top-amount-sec" style="padding-top: 63px;">
                            <label style="display: block; float: left; margin-top: 8px; margin-right: 6px;">Amount ($) :</label>
                            <div style="margin-top: 0px; display: block; float: left; width: 70px !important;">
                                <input id="txtCheckAmount" type="text" style="height: 32px !important; font-size: 17px; padding-left: 1px;" onkeypress="return FilterInput(event)" pattern="\d*" class="k-textbox f-textbox" />
                            </div>
                            <!--Auto pay for Bank Draft -->
                            <div class="amount-section" style="padding-top: 5px; display: block; float: left;" id="divBAAutopaySection">
                                <label class="autopay-label orange-text" id="lblautopay2" style="float: left; margin-right: 15px;">Auto Pay :</label>
                                <input type="checkbox" id="chkAutopayOff2" value="Autopay" name="Autopay" style="margin-top: 9px; margin-left: 5px;" /><label></label>
                            </div>
                            <div style="bottom: 0; position: absolute; display: block; float: left;">
                                <button type="button" id="btnCheckPaynow" class="k-button paynow-btn" onclick="return CheckPayment();" style="width: 150px; line-height: 1.2; display: block; float: left; font-size: 14px; text-align: left; padding: 0px 0px 0px 56px !important;"><span>Pay Now</span></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-element-5" id="divBASendConfirmationType" style="float: left; width: 91%; margin: 10px 10px 10px 15px;">
                        <div class="sec-1" style="display: block; float: left; width: 100% !important;">
                            <label class="f1" style="margin-right: 18px; color: #515967;">Send Confirmation By :</label>
                            <input type="checkbox" id="chkBAEmail" value="Email" name="BAConfirmationtype" /><label style="color: #515967; margin-right: 5px; margin-left: 5px;">EMail</label>
                            <input type="checkbox" id="chkBASMS" value="SMS" name="BAConfirmationtype" /><label style="color: #515967; margin-right: 5px; margin-left: 5px;">SMS</label>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="divmainmessagebox">
                        <div class="mesage-text" style="line-height: 32px; width: 100%; padding-left: 0px;">
                            <div id="divCheckPaymentIcon" class="message-icon-payment" style="display: none">
                            </div>
                            <div id="divCheckAuthmessage" style="display: none" class="divmessagebox">
                                <label id="lblCheckAuthMessage" style="line-height: 50px; display: block; line-height: 19px; padding-top: 5px; font-weight: bold;"></label>
                                <span class="green-text">
                                    <label id="lblBAProfileStatus" style="line-height: 1.3; display: block; font-weight: bold;"></label>
                                </span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            </text>);
            }

            //-------------------------------------------

            //Autopay        
            tabstrip.Add().Text("Auto Pay")
                .HtmlAttributes(new { ID = "Autopay_tab" })
                .Content(@<text>

            <div class="f-content" id="divautopaysec" style="height: 380px;">
                <div class="payment-content">
                    <div style="display: block; float: left; width: 100%;">
                        <div class="f-content autopay-status" style="background: none; width: auto; display: block; float: left;">
                            <label class="f1">Auto Pay Status :</label>
                            <label class="orange-text font-bold" id="lblAutopayStatus" style="width: auto !important;"></label>
                        </div>
                        <div class="clear"></div>
                        <div class="f-content autopay-status" style="background: none; width: auto; float: left;">
                            <div id="divCCNo" style="display: none">
                                <label class="f1" style="width: auto !important; padding-right: 3px;">Card Details :</label>
                                <label class="orange-text font-bold" id="lblCCNo" style="width: auto !important; padding-left: 26px;"></label>
                            </div>
                            <div id="divBANo" style="display: none">
                                <label class="f1" style="width: auto !important; padding-right: 3px;">Bank Details :</label>
                                <label class="orange-text font-bold" id="lblBANo" style="width: auto !important; padding-left: 26px;"></label>
                            </div>

                        </div>
                        <div style="display: block; float: right; margin-top: -20px;">
                            <div class="form-element-10 clear" style="width: 100%; margin-top: 0px;">
                                <button type="button" id="btnUnSetupAutoPay" class="k-button updatecard-button" style="font-size: 14px; margin-right: 0px !important; float: right; height: 27px; padding: 0px 7px !important; font-weight: bold;" onclick="return DisableAutoPay();">De-Enroll Auto Pay</button>
                            </div>
                        </div>
                    </div>

                    <div class="f-content" id="divCCorBA" style="display: block; float: left; width: 100%; padding-top: 0px;padding-bottom:0px!important;">
                        <div class="f-content autopay-status" style="background: none; width: auto; display: block; float: left; margin-left: -6px;">
                            <label class="f1">Auto Pay Type :</label>

                            <div class="option-box" style="font-size: 12px; line-height: 10px;">
                                <input type="radio" name="optradio" checked="checked" value="1" style="float: left;">
                                <label class="f1" style="padding-left: 5px; padding-top: 1px; margin-right: -40px;">Credit Card</label>
                            </div>
                            <div class="option-box" style="font-size: 12px; line-height: 10px;">
                                <input type="radio" name="optradio" value="2" style="float: left;">
                                <label class="f1" style="padding-left: 5px; padding-top: 1px">Bank Account</label>
                            </div>
                        </div>
                    </div>
                    <div class="payment-form" id="CCAutoPay" style="background: #f4f4f4; border-radius: 6px;">
                        <div class="black-strip">
                            <p style="line-height: inherit; font-size: 13px !important;">Enter your credit card information below to setup Auto Pay</p>
                        </div>
                        <div class="payment-form-wrapper autopay" style="padding-top: 0px !important;">
                            <div class="form-element-5">
                                <label class="fl">Name on Card :</label>
                                <input id="txtNameOntheCardAutopay" type="text" class="k-textbox f-textbox fl" autocomplete="off">
                                <div class="clear"></div>
                            </div>
                            <div class="form-element-5">
                                <label class="fl">Card Number :</label>
                                <input id="txtCardNumberAutopay" onkeypress="return FilterInput(event)" type="text" class="k-textbox f-textbox fl" maxlength="16" autocomplete="off">
                                <div class="clear"></div>
                            </div>
                            <div class="form-element-5">
                                <div class="sec-1">
                                    <label class="fl">Exp Month :</label>
                                    <input id="expmonthAutopay" type="text" class="f-dropdown">

                                    <div class="clear"></div>
                                </div>

                                <div class="sec-2">
                                    <label class="fl label-year">Year :</label>
                                    <input id="expyearAutopay" type="text" class="f-dropdown">

                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="form-element-5">
                                <div class="sec-1">
                                    <label class="fl">Billing Zip :</label>
                                    <input id="txtBillingZipAutopay" onkeypress="return FilterInput(event)" type="text" class="k-textbox f-textbox fl" maxlength="5" autocomplete="off" />
                                    <div class="clear"></div>
                                </div>

                                <div class="sec-2">
                                    <label class="fl label-cvc">CVC Code :</label>
                                    <input id="txtCVCCodeAutopay" type="password" onkeypress="return FilterInput(event)" class="k-textbox f-textbox fl" maxlength="4" autocomplete="off" />
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                            </div>

                        </div>
                    </div>
                    <div class="payment-form" id="BAAutoPay" style="display: none; background: #f4f4f4; border-radius: 6px;">
                        <div class="payment-form-wrapper autopay" style="padding: 0px 10px 10px 14px; height: 208px;">
                            <div class="form-element-5" style="margin-top: 0px !important;">
                                <div class="sec-1 accounttype_ba">
                                    <div class="black-strip" style="margin-left: -14px;">
                                        <p style="line-height: inherit; font-size: 13px !important;">Enter your Bank Account information below to setup Auto Pay</p>
                                    </div>
                                    <div class="form-element-5">
                                        <label class="fl" style="width: 127px; display: block; float: left;">Type of Account :</label>
                                        <div class="container" style="width: 67%; display: block; float: left; height: 26px !important;">
                                            <label class="radio-inline" style="margin-right: 20px;">
                                                <input type="radio" name="optbaatradio" value="C" checked style="margin-right: 5px;">Checking
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optbaatradio" value="S" style="margin-right: 5px;">Savings
                                            </label>
                                            @* <input id="ddlBAAccountType" type="text" class="f-dropdown">*@
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="sec-2">
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="form-element-5">
                                <label class="fl" style="width: 127px;">Name on Account :</label>
                                <input id="txtBAAccountName" style="width: 270px;" type="text" class="k-textbox f-textbox fl" autocomplete="off">
                                <div class="clear"></div>
                            </div>
                            <div class="form-element-5">
                                <label class="fl" style="width: 127px;">Routing No :</label>
                                <input id="txtBARoutingNo" style="width: 270px;" type="text" onkeypress="return FilterInput(event)" class="k-textbox f-textbox fl" maxlength="10" autocomplete="off">
                                <div class="clear"></div>
                            </div>
                            <div class="form-element-5">
                                <label class="fl" style="width: 127px;">Bank A/c No :</label>
                                <input id="txtBAAccountNo" style="width: 270px;" type="password" onkeypress="return FilterInput(event)" class="k-textbox f-textbox fl" maxlength="16" autocomplete="off">
                                <div class="clear"></div>
                            </div>

                            <div class="form-element-5">
                                <label class="fl" style="width: 127px;">Confirm Bank A/c No:</label>
                                <input id="txtBAConfirmAccountNo" style="width: 270px;" type="password" onkeypress="return FilterInput(event)" class="k-textbox f-textbox fl" maxlength="16" autocomplete="off" style="height: 33px !important; width: 270px;">
                                <div class="clear"></div>
                            </div>


                        </div>
                    </div>
                    <div class="payment-form-left" style="margin-top: 0px;" id="divbapayfrmleft">
                        <div class="clear" style="display: block; float: left; width: 100%;">
                            <button type="button" id="btnSetupAutoPay" class="k-button updatecard-button" style="font-size: 14px; height: 46px; padding: 0px 19px; font-weight: bold; margin-right: 0px !important; margin-top: 140px; margin-left: 5px;" onclick="return SetupAutoPayfun();">Enroll Auto Pay</button>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="form-element-5" style="float: left; width: 91%; margin: 10px 10px -8px 11px; color: #656565 !Important;">
                        <div class="sec-1" style="display: block; float: left; width: 100% !important;padding-bottom:15px;">
                            <label class="f1" style="margin-right: 18px;">Send Confirmation By :</label>
                            <input type="checkbox" id="chkAutoPayEmail" value="Email" name="Confirmationtype" /><label style="color: #515967; margin-right: 5px; margin-left: 5px;">EMail</label>
                            <input type="checkbox" id="chkAutoPaySMS" value="SMS" name="Confirmationtype" /><label style="color: #515967; margin-right: 5px; margin-left: 5px;">SMS</label>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div id="divapmsg" class="divmainmessagebox">
                        <div class="mesage-text" style="line-height: 32px; width: 100%; padding-left: 0px;">
                            <div id="divAutoPayIcon" class="message-icon-payment" style="display: none">
                            </div>
                            <div id="divAutopaymessage" style="display: none" class="divmessagebox">
                                <label id="lblAutoPayMessage" style="line-height: 50px; display: block; font-weight: bold;"></label>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
            </div>
            </text>);


            tabstrip.Add().Text("Cash")
                .HtmlAttributes(new { ID = "Cash_tab" })
                .Content(@<text>
            <div class="f-content" style="height: 292px !important; display: block; float: left; background: #fff;">
                <div class="form-element-5" style="display: block; float: left; width: 100%;">
                    <label class="fl" style="float: left; display: block; width: 60px; padding-top: 3px; color: #656565; padding-left: 3px; font-size: 13px; padding-right: 15px;">Zip Code :</label>
                    <input id="txtZipCode" onkeypress="return FilterInput(event)" type="text" class="k-textbox f-textbox fl" maxlength="5" autocomplete="off" style="display: block; float: left; width: 100px; height: 23px !important; border-radius: 3px !important;" />
                    <img id="imgsearchlocations" src="~/images/searchlocations.png" style="cursor: pointer; display: block; float: left; padding-left: 5px; padding-top: 4px;" />
                </div>

                <div class="payment-grid" style="display: block; float: left; margin-top: 5px;">
                    @(Html.Kendo().Grid<WebEnrollmentNewDesign.PayWSDLService.PaymentLocation>()
                .Name("payment-grid")
                .Columns(columns =>
                {
                    columns.Bound(r => r.CenterName).Title("Center Name");
                    columns.Bound(r => r.Address).Title("Address").ClientTemplate("<a href='http://maps.google.com/?key=AIzaSyBdwb6Cc4Ea1c_oJubswqHkNphvqawx8SA&q=#:Latitude#,#:Longitude#' target='_blank' class='cash-location'></a><span class='cash-address'>#:Address#</span>&nbsp;<span class='cash-address'>#:City#</span>&nbsp;<span class='cash-address'>#:State#</span>&nbsp;<span class='cash-address'>#:Zip#</span>").Width("200px");
                    columns.Bound(r => r.Phone).Title("Phone").ClientTemplate("#:Phone.substring(0, 3)#-#:Phone.substring(3, 6)#-#:Phone.substring(6, 10)#");
                    columns.Bound(r => r.OpenToday).Title("Today").ClientTemplate("#:OpenToday# - #:ClosedToday#").Format("{0:MM/dd/yyyy}");
                    columns.Bound(r => r.Fee).Title("Fee").ClientTemplate("<span>$ #:Fee#</span>").Width("50px");
                    columns.Bound(r => r.Requried).Title("Requried").ClientTemplate("<span title='#:HelpText#' class='f-text-highlight f-tooltip'>#:Requried#</span>");
                    //columns.Bound(r => r.barcode).Title("Required").ClientTemplate("<span>Account Number Or </span><a href='#:barcode#' target='_blank' class='cash-barcode'></a>");

                    //columns.Bound(r => r.OpenTomorrow).Title("Tomorrow").ClientTemplate("#:OpenTomorrow# - #:ClosedTomorrow#").Format("{0:MM/dd/yyyy}");
                    //columns.Bound(r => r.Longitude).Title("Location").ClientTemplate("<a href='http://maps.google.com/?q=#:Latitude#,#:Longitude#' target='_blank'>View on Map</a>");
                })
                .Events(events => events.DataBound("onpaymentDataBound"))
                                            .Pageable(pageable => pageable
                                                .Refresh(true)
                                                    .PageSizes(true)
                                                    .ButtonCount(5)
                                                    )
                        .Sortable()

                        .Scrollable(scr => scr.Height(160))
                            //.Selectable(selectable => selectable
                            //.Mode(GridSelectionMode.Multiple))
                            //.Filterable()
                                    .AutoBind(false)
                            //.Events(e => e.DataBound("onRowBound"))
                                 .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(5)
                                    .ServerOperation(false)
                                    .Read(read => read.Action("GetLocations", "MyAccount").Data("onAdditionalData"))
                                    )
                                         )
                </div>
            </div>
            </text>);
            tabstrip.Add().Text("Prepay Wizard")
                .HtmlAttributes(new { ID = "Prepay_tab" })
                .Content(@<text>
            <div class="f-content" id="divPrepay" style="position: relative; height: 293px;">
                <div class="prepay-box-1" style="min-height: 290px;width:309px !important;">
                    <div class="form-element-5">
                        <label class="right-padding-10 fl ss-label ss-label-95 form-element-10" style="width: 163px">Amount to be recharged($) :</label>
                        <input id="txtRechargeAmount" onkeypress="return FilterInput(event)" class="k-textbox f-textbox fl" style="width: 100px; margin-left: 35px;">
                        <div class="clear"></div>
                    </div>


                    <div class="form-element-15">
                        <label class="right-padding-10 fl ss-label ss-label-95" style="width: 200px">Amount Left for purchase :</label>
                        <span class="green-text fl">$ </span>
                        <label class="right-padding-10 fl ss-label ss-label-95 font-bold green-text" id="lblpurchaseamount"></label>
                        <div class="clear"></div>
                    </div>
                    <div class="form-element-15">
                        <label class="right-padding-10 fl ss-label ss-label-95 " style="width: 200px">Rate :</label>
                        <span>
                            <label class="right-padding-10 fl ss-label font-bold green-text" id="lblprepayRate"></label>
                            c/kWh</span>
                        <div class="clear"></div>
                    </div>
                    <div class="form-element-15">
                        <label class="right-padding-10 fl ss-label ss-label-95" style="width: 200px">KWH Purchased :</label>
                        <span>
                            <label class="right-padding-10 fl ss-label font-bold orange-text" id="lblprepayPurchased"></label>
                            kWh</span>
                        <div class="clear"></div>
                    </div>
                    <div class="form-element-15">
                        <label class="right-padding-10 fl ss-label ss-label-95" style="width: 200px">KWH Balance *:</label>
                        <span>
                            <label class="right-padding-10 fl ss-label font-bold orange-text" id="lblprepayEstimate"></label>
                            kWh</span>
                        <div class="clear"></div>
                    </div>
                    <div class="form-element-15">
                        <label class="right-padding-10 fl ss-label ss-label-95" style="width: 200px">Balance after Purchased :</label>
                        <span>
                            <label class="right-padding-10 fl ss-label font-bold orange-text" id="lblprepayActualPurchased"></label>
                            kWh</span>
                        <div class="clear"></div>
                    </div>
                    <div class="form-element-15">
                        <label class="right-padding-10 fl ss-label ss-label-95" style="width: 200px">Averge Daily Usage :</label>
                        <span>
                            <label class="right-padding-10 fl ss-label font-bold orange-text" id="lblprepayDUsage"></label>
                            kWh/day</span>
                        <div class="clear"></div>
                    </div>
                    <div class="form-element-20">
                        <label class="right-padding-10 fl ss-label ss-label-95" style="width: 200px">Estimate days left:</label>
                        <span>
                            <label class="right-padding-10 fl ss-label font-bold orange-text" id="lblprepayDaysleft"></label>
                            days</span>
                        <div class="clear"></div>
                    </div>

                    <div class="form-element-20">
                        <label class="right-padding-10 fl ss-label ss-label-95" style="width: 200px">*Includes Estimate</label>

                        <div class="clear"></div>
                    </div>
                </div>
                <div class="prepay-box-2 form-element-5" style="height: 272px;">
                    <div class="form-element-5">
                        <label class="right-padding-10 fl ss-label ss-label-95 font-bold" style="width: 135px; color: #009ecc;">Fees Due :</label>
                        <div class="clear"></div>
                    </div>
                    <div id="divfeedues" style="height: 209px; overflow-y: auto;">
                    </div>
                    <div class="form-element-20" style="border-top: 1px solid #009ecc; padding-top: 10px; margin-top: 10px;">
                        <label class="right-padding-10 fl ss-label ss-label-95 font-bold blue-text" style="width: 120px">Total Fees Dues :</label>
                        <span class="green-text fl">$ </span>
                        <label class="right-padding-10 fl ss-label font-bold green-text" id="lblTotalFeesDues"></label>
                        <div class="clear"></div>
                    </div>

                </div>

                <div class="clear"></div>

            </div>
            </text>);
        }).Events(e => e.Select("tabstrip_select"))
        )

        </div>
    </div>
    <div class="clear"></div>
    <script id="template-confirmpay" type="text/x-kendo-template">
        <div class="fr " style="width:510px">
        <div class="form-element-20 left-padding-20" style="padding-top:0px !Important;padding-right:10px !Important;">
       <label class="right-padding-10  ss-label ss-label-120 form-element-10"><span  style="font-size: 14px;display: block;width: 100%;font-weight: normal;"><b><label id="lblCustName"></label></b> , Do you authorize to make a one- time payment with your credit card/bank draft ending in <label id="lblcustaccountno" style="font-weight: bold;"></label> for the total amount of $
       <label id="lblamount"  style="font-weight: bold;"></label> on date <label id="lblamount" style="font-weight: bold;">@DateTime.Now.ToString("MM/dd/yyyy") ?</label></span></label>
        <div class="clear"></div>
        </div>
    <div class="form-element-20">
                <button class="k-button f-button fr popupcancel" style="width:120px">Cancel</button>
				<div class="fr" style="padding-right: 5px;"> 
    <button id="btnConfirm" class="k-button f-button fr popupcancel" style="width:120px">Ok</button>            
    </div>
        <div class="form-element-20 left-padding-20">
           &nbsp;
        </div>
    </div>
    </script>
    <script id="confirmpopup" type="x-text/kendo-templ">
            <div id="deleteconfirmpopup" style="width:400px; padding:10px;">   
            <span id="confirmpopupbody" style="font-size: 14px;display: block;"></span>    
            <div class="form-element-20">
                <button class="k-button f-button fr popupcancel" style="width:120px">Cancel</button>
				<div class="fr" style="padding-right: 5px;"> 
    			
    <button id="btnConfirm" class="k-button f-button fr popupcancel" style="width:120px">Ok</button>            
    </div>
        </div>
	            
    </div>
    </script>
</body>
</html>
